name: Deploy App

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      stage:
        type: choice
        description: Stage to deploy
        options:
          - prod
        default: prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      STAGE: prod
      STACK_NAME: iris-app-prod
      INFRA_STACK_NAME: iris-infra-prod

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::345594578426:role/GitHubDeployRoleIrisProd
          aws-region: us-east-1

      - name: Setup SAM
        uses: aws-actions/setup-sam@v2

      - name: Build
        run: sam build --template-file app.yaml

      - name: Deploy (app stack)
        run: |
          sam deploy \
            --template-file app.yaml \
            --stack-name "${STACK_NAME}" \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --resolve-s3 \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --region us-east-1 \
            --parameter-overrides Stage=${STAGE} InfraStackName=${INFRA_STACK_NAME}
